.accordion-body {
    padding-top: 10px;
    padding-bottom: 5px;
    padding: 10px 0px 5px 10px;
}

.custom-header {
    background-color: #00274d;
    color: #ffcc00;
    border-radius: 5px;
    border: 1px solid #003366;
    transition: background-color 0.3s ease;
    /* border-width: 1px !important; */
}

.custom-header:hover {
    background-color: #004080;
    border: 1px solid #003366 !important;
    /* border-width: 2px !important; */

}

.accordion-button {
    padding: 4px !important;
    background-color: #edf1f8;
    color: #052c65;
    border-radius: 5px;
}

.menu-title {
    margin: 0;
    font-size: 15px;
}

.custom-accordion-item {
    /* margin: 4px 0; */
    border: none;
}

.menu-content {
    display: flex;
    align-items: center;
    background-color: #003366;
    padding: 3px 7px;
    margin: 2px;
    border-radius: 5px;
    color: #fff;
    transition: transform 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

.menu-content:hover {
    background-color: #004080;
    transform: scale(1.05);
}

.menu-content i {
    margin-right: 8px;
    color: #ffcc00;
}

.menu-content span {
    font-size: 14px;
}

.acrmenu {
    text-decoration: none;
    color: inherit;
}

.acrmenu:hover {
    text-decoration: none;
}

.menu-item .acrmenu span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
  }